{% extends "layout.html" %}
{% block content %}
	 <div class="container">
	  <h2>Authentication:</h2>
	  <div align=center>
	  <form action="." method="POST">
	  	Project:
		<select name="Project">
		<option value=""></option>
		<option value="BLSA">BLSA</option>
		<option value="VUSTP">VUSTP</option>
		<option value="ZALD_TTS">ZALD_TTS</option>
		</select><br>
	      
	      Username: <input id="textfield" type="text" name="Username"><br>
	      Password: <input id="textfield" type="password" name="Password"><br>
	      <input type="submit" name="authentication" value="Login">
	  </form>
	  <br>
      <br>
      <h4>After using submit, please be patient while the app is getting data from REDCap.</h4>
	  </div>
	 </div>
{% endblock %}