<!DOCTYPE html>
<html>
  <head>
    <title>VUIIS Quality Assurance Report</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>    
  </head>
  <body>
	  <header>
	      <div class="container">
	        <h1 class="logo">VUIIS Quality Assurance Report</h1>
	      </div>
	   </header>
   <body>
	    <div class="container">
		    <h2>Authentification:</h2>
		    <form action="." method="POST">
		        Project: <input id="textfield" type="text" name="Project"><br>
		        Username: <input id="textfield" type="text" name="Username"><br>
		        Password: <input id="textfield" type="password" name="Password"><br>
		        <input type="submit" name="authentification" value="Send">
		    </form>
	    </div>
   </body>
</html>